* {
    box-sizing: border-box;
}

.fancy {
   float: left;
   margin: 10px;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

canvas {width: 100%}
a {
   padding: 0px;
   margin: 0px
}

h4 {
   text-align: center;
   padding: 3px;
   margin: 0px
}
/* vim: set et sw=3 ts=3: */
